{% extends 'base.html' %}

{% block title %}
    {% if est_modification %}Modifier le challenge{% else %}Ajouter un nouveau challenge{% endif %}
{% endblock %}

{% block content %}
    <h1>{% if est_modification %}Modifier le challenge{% else %}Ajouter un nouveau challenge{% endif %}</h1>

    <div class="container">
        <form method="post" action="{% if est_modification %}{{ url_for('modifier_challenge', uid_challenge=challenge.uid_challenge) }}{% else %}{{ url_for('ajouter_challenge') }}{% endif %}" class="mt-4">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.titre_challenge.label(class="form-control-label") }}
                {{ form.titre_challenge(class="form-control") }}
                {% for erreur in form.titre_challenge.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.categorie_challenge.label(class="form-control-label") }}
                {{ form.categorie_challenge(class="form-control") }}
                {% for erreur in form.categorie_challenge.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.description_challenge.label(class="form-control-label") }}
                {{ form.description_challenge(class="form-control") }}
                {% for erreur in form.description_challenge.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.cours_associes.label(class="form-control-label") }}
                {{ form.cours_associes(class="form-control") }}
                {% for erreur in form.cours_associes.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.indice.label(class="form-control-label") }}
                {{ form.indice(class="form-control") }}
                {% for erreur in form.indice.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.value.label(class="form-control-label") }}
                {{ form.value(class="form-control") }}
                {% for erreur in form.value.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.lien_ctfd.label(class="form-control-label") }}
                {{ form.lien_ctfd(class="form-control") }}
                {% for erreur in form.lien_ctfd.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.flag.label(class="form-control-label") }}
                {{ form.flag(class="form-control") }}
                {% for erreur in form.flag.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>            

            {{ form.submit(class="btn btn-primary", value=( "Modifier" if est_modification else "Créer")) }}
        
            {% if est_modification %}
                <a href="{{ url_for('detail_challenge', uid_challenge=challenge.uid_challenge) }}" class="btn btn-secondary">Annuler</a>
            {% else %}
                <a href="{{ url_for('afficher_challenges') }}" class="btn btn-secondary">Annuler</a>
            {% endif %}
        </form>
    </div>
{% endblock %}
