{% extends 'base.html' %}

{% block title %}Challenges{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Challenges</h1>
    {% if current_user.is_authenticated and current_user.role == 2 %}
        <a href="{{ url_for('ajouter_challenge') }}" class="btn btn-primary">Ajouter un nouveau challenge</a>
    {% endif %}
</div>

<div class="container mt-4">
    <div class="row">
        {% for challenge in challenges_list %}
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <a href="{{ url_for('detail_challenge', uid_challenge=challenge.uid_challenge) }}" class="text-dark text-decoration-none mb-2">
                        <h5 class="card-title">{{ challenge.titre_challenge }}</h5>
                    </a>
                    <span class="badge rounded-pill mb-2"
                        {% if challenge.value <= 10 %}
                            style="background-color: #6699CC; color: #fff;"
                        {% elif challenge.value <= 20 %}
                            style="background-color: #7FB3D5; color: #fff;"
                        {% elif challenge.value <= 30 %}
                            style="background-color: #66CCCC; color: #fff;"
                        {% elif challenge.value <= 40 %}
                            style="background-color: #66CC99; color: #fff;"
                        {% elif challenge.value <= 50 %}
                            style="background-color: #CCCC66; color: #fff;"
                        {% elif challenge.value <= 60 %}
                            style="background-color: #CC9966; color: #fff;"
                        {% elif challenge.value <= 70 %}
                            style="background-color: #CC6699; color: #fff;"
                        {% elif challenge.value <= 80 %}
                            style="background-color: #cc66ccba; color: #fff;"
                        {% elif challenge.value <= 90 %}
                            style="background-color: #CC6666; color: #fff;"
                        {% else %}
                            style="background-color: #000; color: #fff;"
                        {% endif %}
                    >
                        {{ challenge.value }} points
                    </span>
                    <p class="card-text flex-grow-1">{{ challenge.description_challenge | truncate(50) }}</p>
                    <p class="text-muted">Catégorie: {{ challenge.categorie.nom }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
