{% extends 'base.html' %}

{% block title %}
    {% if est_modification %}Modifier un cours{% else %}Créer un nouveau cours{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>{% if est_modification %}Modifier le cours{% else %}Créer un nouveau cours{% endif %}</h1>

    <form method="post" action="{{ url_for('modifier_cours', uid_cours=cours.uid_cours) if est_modification else url_for('creer_cours') }}" enctype="multipart/form-data">

        {{ form.hidden_tag() }}

        <!-- Champ pour télécharger un fichier -->
        <div class="mb-3">
            {{ form.fichier.label(class="form-label") }}
            {{ form.fichier(class="form-control") }}
        </div>

        <!-- Champ pour les liens  -->
        <div class="mb-3">
            {{ form.lien.label(class="form-label") }}
            {{ form.lien(class="form-control") }}
        </div>

        <!-- Champs pour la catégorie -->
        <div class="mb-3">
            {{ form.categorie_cours.label(class="form-label") }}
            {{ form.categorie_cours(class="form-select" + (" is-invalid" if form.categorie_cours.errors else "")) }}
            {% for error in form.categorie_cours.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Bloc pour une nouvelle catégorie -->
        <div class="mb-3" id="nouvelleCategorieBlock" style="display: none;">
            {{ form.nouvelle_categorie.label(class="form-label") }}
            {{ form.nouvelle_categorie(class="form-control" + (" is-invalid" if form.nouvelle_categorie.errors else "")) }}
            {% for error in form.nouvelle_categorie.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Bouton pour afficher/masquer le bloc de nouvelle catégorie -->
        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" id="nouvelle_categorie_checkbox">
            <label class="form-check-label" for="nouvelle_categorie_checkbox">Nouvelle catégorie</label>
        </div>

        <!-- Champs pour le titre et la description -->
        <div class="mb-3">
            {{ form.titre_cours.label(class="form-label") }}
            {{ form.titre_cours(class="form-control" + (" is-invalid" if form.titre_cours.errors else "")) }}
            {% for error in form.titre_cours.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.description_cours.label(class="form-label") }}
            {{ form.description_cours(class="form-control" + (" is-invalid" if form.description_cours.errors else "")) }}
            {% for error in form.description_cours.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">{{ "Modifier" if est_modification else "Créer" }}</button>
        {% if est_modification %}
            <a href="{{ url_for('detail_cours', uid_cours=cours.uid_cours) }}" class="btn btn-secondary">Annuler</a>
        {% else %}
            <a href="{{ url_for('afficher_cours') }}" class="btn btn-secondary">Annuler</a>
        {% endif %}
    </form>
</div>

<script>
    // Afficher ou masquer le bloc de la nouvelle catégorie en fonction du choix de l'utilisateur
    document.getElementById('nouvelle_categorie_checkbox').addEventListener('change', function() {
        var nouvelleCatBlock = document.getElementById('nouvelleCategorieBlock');
        if (this.checked) {
            nouvelleCatBlock.style.display = 'block';
            document.getElementById('categorie_cours').selectedIndex = 0; // Décocher la sélection de la liste déroulante
        } else {
            nouvelleCatBlock.style.display = 'none';
        }
    });
</script>

{% endblock %}
