{% extends 'base.html' %}


{% block title %}Créer un nouveau cours{% endblock %}

{% block content %}
    <h1>Créer un nouveau cours</h1>

    <div class="container">
        <form method="post" action="{{ url_for('creer_cours') }}" class="mt-4">
            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.titre_cours.label(class="form-control-label") }}
                {{ form.titre_cours(class="form-control") }}
                {% for erreur in form.titre_cours.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.description_cours.label(class="form-control-label") }}
                {{ form.description_cours(class="form-control") }}
                {% for erreur in form.description_cours.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.categorie_cours.label(class="form-control-label") }}
                {{ form.categorie_cours(class="form-control") }}
                {% for erreur in form.categorie_cours.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.contenu.label(class="form-control-label") }}
                {{ form.contenu(class="form-control") }}
                {% for erreur in form.contenu.errors %}
                    <small class="text-danger">{{ erreur }}</small>
                {% endfor %}
            </div>
            
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
