{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Dashboard</h1>
</div>

<div class="container">
    <!-- Liste déroulante pour choisir un utilisateur -->
    <div class="row mb-4">
        <div class="col-md-6">
            <form action="/dashboard" method="get">
                <div class="form-group">
                    <select class="form-select" name="utilisateur_id" onchange="this.form.submit()">
                        <option value="">Sélectionnez un utilisateur</option>
                        {% for utilisateur in utilisateurs %}
                        <option value="{{ utilisateur.uid_utilisateur }}" {% if utilisateur.uid_utilisateur == utilisateur_id %}selected{% endif %}>
                            {{ utilisateur.nom_utilisateur }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>

    {% if data_for_chart|length > 0 %}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Répartition des points par catégorie</h3> <!-- Titre du graphique -->
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Cet utilisateur n'a validé aucun challenge.
        </div>
    {% endif %}

    {% if completion_rate_for_chart|length > 0 %}
        <div class="row">
            <div class="col-md-6">
                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title text-center">Taux de complétion par catégorie (%)</h3>
                        <canvas id="completionChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <form action="/generer_certificat/{{ utilisateur_id }}" method="GET">
        <button type="submit">Générer certificat</button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {

    // Graphique "Répartition des points par catégorie"

    var dataForChart = JSON.parse('{{ data_for_chart | tojson | safe }}');
    var ctx = document.getElementById('myChart').getContext('2d');
    if(Object.keys(dataForChart).length > 0) {
        var categories = Object.keys(dataForChart);
        var data = categories.map(function(categorie) {
            return dataForChart[categorie].points_obtenus;
        });

        new Chart(ctx, {
            type: 'pie',
            data: {
                labels: categories,
                datasets: [{
                    label: 'Points par catégorie',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.8)', // Rouge
                        'rgba(54, 162, 235, 0.8)', // Bleu
                        'rgba(255, 206, 86, 0.8)', // Jaune
                        'rgba(75, 192, 192, 0.8)', // Vert
                        'rgba(153, 102, 255, 0.8)', // Violet
                        'rgba(255, 159, 64, 0.8)', // Orange
                        'rgba(199, 199, 199, 0.8)', // Gris
                        // Ajoutez plus de couleurs si nécessaire
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)', // Bordure Rouge
                        'rgba(54, 162, 235, 1)', // Bordure Bleu
                        'rgba(255, 206, 86, 1)', // Bordure Jaune
                        'rgba(75, 192, 192, 1)', // Bordure Vert
                        'rgba(153, 102, 255, 1)', // Bordure Violet
                        'rgba(255, 159, 64, 1)', // Bordure Orange
                        'rgba(199, 199, 199, 1)', // Bordure Gris
                        // Correspondances de bordure pour les couleurs supplémentaires
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Points obtenus par catégorie'
                },
                responsive: true,
                maintainAspectRatio: true,
            }
        });
    }

    // Graphique "Taux de complétion par catégorie"

    var completionData = JSON.parse('{{ completion_rate_for_chart | tojson | safe }}');
    var completionCtx = document.getElementById('completionChart').getContext('2d');
    if(Object.keys(completionData).length > 0) {
        var completionCategories = Object.keys(completionData);
        var completionRates = completionCategories.map(function(categorie) {
            return completionData[categorie].completion_rate;
        });

        new Chart(completionCtx, {
            type: 'bar', // Type de graphique
            data: {
                labels: completionCategories,
                datasets: [{
                    label: 'Taux de complétion (%)',
                    data: completionRates,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.8)', // Rouge
                        'rgba(54, 162, 235, 0.8)', // Bleu
                        'rgba(255, 206, 86, 0.8)', // Jaune
                        'rgba(75, 192, 192, 0.8)', // Vert
                        'rgba(153, 102, 255, 0.8)', // Violet
                        'rgba(255, 159, 64, 0.8)', // Orange
                        'rgba(199, 199, 199, 0.8)', // Gris
                        // Continuez avec d'autres couleurs si vous avez plus de catégories
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)', // Bordure Rouge
                        'rgba(54, 162, 235, 1)', // Bordure Bleu
                        'rgba(255, 206, 86, 1)', // Bordure Jaune
                        'rgba(75, 192, 192, 1)', // Bordure Vert
                        'rgba(153, 102, 255, 1)', // Bordure Violet
                        'rgba(255, 159, 64, 1)', // Bordure Orange
                        'rgba(199, 199, 199, 1)', // Bordure Gris
                        // Correspondances de bordure pour les couleurs supplémentaires
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                responsive: true,
                maintainAspectRatio: true,
                title: {
                    display: true,
                    text: 'Taux de complétion par catégorie'
                }
            }
        });
    } // Cette accolade ferme le bloc if pour le deuxième graphique
});
</script>
    

{% endblock %}
