{% extends 'base.html' %}

{% block title %}Challenges{% endblock %}

{% block content %}
    <div style="display: flex; align-items: center;">
        <a href="{{ url_for('afficher_challenges') }}" style="color: black; text-decoration: none; margin-right: 10px;">
        <i class="fas fa-arrow-left"></i> <!-- Assurez-vous d'inclure FontAwesome -->
        </a>
        <h2 style="margin: 0;">{{ challenge.titre_challenge }}</h2>
        <span style="margin-left: auto; color: grey;">{{ challenge.categorie_challenge }}</span>
    </div>

    <div class="container mt-4">
        <div class="container">
            <div>{{ challenge.description_challenge | safe }}</div>
        </div>        
    </div>

<!-- Boutons Modifier et Supprimer -->
<div style="margin-top: 20px; display: flex; align-items: center; gap: 10px;">
    <a href="{{ url_for('modifier_challenge', uid_challenge=challenge.uid_challenge) }}" class="btn btn-primary">Modifier</a>
    <form action="{{ url_for('supprimer_challenge', uid_challenge=challenge.uid_challenge) }}" method="post" style="margin: 0;">
        <input type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce challenge ?');" value="Supprimer" class="btn btn-danger">
    </form>
</div>

<div style="margin-top: 20px; display: flex; align-items: center; gap: 10px;">
    <h2>Cours Associés</h2>
    {% for cours in challenge.cours %}
        <li>{{ cours.titre_cours }}</li>
    {% endfor %}      
</div>

{% endblock %}
