{% extends 'base.html' %}

{% block title %}Challenges{% endblock %}

{% block content %}
<div class="d-flex align-items-center mb-4">
    <a href="{{ url_for('afficher_challenges') }}" class="text-dark text-decoration-none me-2">
        <i class="fas fa-arrow-left"></i>
    </a>
    <span style="margin-right: 10px;"></span> <!-- Ajout d'un espace vide avec une marge à droite -->
    <h2 class="mb-0">{{ challenge.titre_challenge }}</h2>
    <span class="badge bg-primary rounded-pill ms-2">{{ challenge.value }} points</span>
    <span class="text-muted ms-auto">{{ challenge.categorie.nom }}</span>
</div>

<div class="container mt-4">
    <p>{{ challenge.description_challenge | safe }}</p>
</div>

<form method="post" action="{{ url_for('verifier_flag', uid_challenge=challenge.uid_challenge) }}" class="mt-4">
    <div class="mb-3">
        <input type="text" name="flag" {% if challenge in current_user.challenges_valides %} placeholder="Challenge déjà validé" class="form-control" disabled {% else %} placeholder="Entrez le flag ici" class="form-control" {% endif %} >
    </div>
    <button type="submit" class="btn btn-primary" {% if challenge in current_user.challenges_valides %} disabled {% endif %}>Soumettre</button>
</form>

<div class="mt-4">
    <h4>Cours Associé</h4>
    <ul>
        {% if challenge.cours %}
            <li>{{ challenge.cours.titre_cours }}</li>
        {% else %}
            <p>Aucun cours associé</p>
        {% endif %}
    </ul>      
</div>

{% if current_user.is_authenticated and current_user.role == 2 %}
<div class="mt-4 d-flex align-items-center gap-2">
    <a href="{{ url_for('modifier_challenge', uid_challenge=challenge.uid_challenge) }}" class="btn btn-primary">Modifier</a>
    <span style="margin-right: 10px;"></span> <!-- Ajout d'un espace vide avec une marge à droite -->
    <form action="{{ url_for('supprimer_challenge', uid_challenge=challenge.uid_challenge) }}" method="post">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce challenge ?');">Supprimer</button>
    </form>
</div>

{% endif %}

{% endblock %}
