{% extends 'base_connexion.html' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h1>Inscription</h1>
    <form method="POST" action="{{ url_for('inscription') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control") }}
            {% for erreur in form.email.errors %}
                <small class="text-danger">{{ erreur }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.classe.label(class="form-control-label") }}
            {{ form.classe(class="form-control") }}
            {% for erreur in form.classe.errors %}
                <small class="text-danger">{{ erreur }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.nom.label(class="form-control-label") }}
            {{ form.nom(class="form-control") }}
            {% for erreur in form.nom.errors %}
                <small class="text-danger">{{ erreur }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.prenom.label(class="form-control-label") }}
            {{ form.prenom(class="form-control") }}
            {% for erreur in form.prenom.errors %}
                <small class="text-danger">{{ erreur }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.nom_utilisateur.label(class="form-control-label") }}
            {{ form.nom_utilisateur(class="form-control") }}
            {% for erreur in form.nom_utilisateur.errors %}
                <small class="text-danger">{{ erreur }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.mot_de_passe.label(class="form-control-label") }}
            {{ form.mot_de_passe(class="form-control") }}
            {% for erreur in form.mot_de_passe.errors %}
                <small class="text-danger">{{ erreur }}</small>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.confirmer_mot_de_passe.label(class="form-control-label") }}
            {{ form.confirmer_mot_de_passe(class="form-control") }}
            {% for erreur in form.confirmer_mot_de_passe.errors %}
                <small class="text-danger">{{ erreur }}</small>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">S'inscrire</button>
        <a href="{{ url_for('connexion') }}" class="btn btn-secondary">Retour vers la connexion</a>
    </form>
{% endblock %}
