{% extends 'base.html' %}

{% block title %}Utilisateurs{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Liste des utilisateurs</h1>
</div>

<div class="container">
    <input type="text" id="searchInput" class="form-control mb-3" placeholder="Rechercher un utilisateur...">
    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Classe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.uid_utilisateur }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.classe }}</td>
                <td>
                    <!-- Ajoutez ici les actions que vous souhaitez permettre pour chaque utilisateur -->
                    <a href="{{ url_for('dashboard', utilisateur_id=utilisateur.uid_utilisateur) }}" class="btn btn-primary">Stats</a>
                    {% if current_user.uid_utilisateur != utilisateur.uid_utilisateur %}
                        <form method="post" action="{{ url_for('supprimer_utilisateur', uid_utilisateur=utilisateur.uid_utilisateur) }}" class="d-inline">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">Supprimer</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // Script pour filtrer les utilisateurs
    $(document).ready(function(){
        $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}
